<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
  
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- NECESARIO PARA USAR C.D.I -->
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>saga</param-value>
	</context-param>
	
	<!-- en caso de Exception (ponemos cual querempos controlar) redireccionamos -->
	<error-page>
		<exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
		<location>/notLogged.xhtml</location>
	</error-page>
	
	<!-- tiempo de vida de la sesion -->
	<session-config>
        <session-timeout>5</session-timeout>
    </session-config>   
   
</web-app>